@{
    ViewBag.Title = "Contact";
}

<div class="contactSection">

    <h2>Contact</h2>
        <div class="span3">
            <div class="text-center"><img src="/Content/img/email-icon.jpg" /></div>
            <strong>Email:</strong> <a href="mailto:bradyep@gmail.com">bradyep@gmail.com</a>
        </div>
        <div class="span3">
            <div class="text-center"><img src="/Content/img/twitter.jpg" /></div>
            <strong>Twitter:</strong> <a href="https://twitter.com/syntonicstudios">@@SyntonicStudios</a> and <a href="https://twitter.com/BloodCircuit">@@BloodCircuit</a>
        </div>
        <div class="span3">
            <div class="text-center"><img src="/Content/img/map-icon.png" /></div>
            <strong>Residence:</strong> St. Paul, MN
        </div>
</div>
