@{
    ViewBag.Title = "Resume";
}

<div class="resumeSection">

    <h2>Resume</h2>

    <p>Check Out My Resume in ... </p>

    <ul>
        <li>
            <a href="/Content/resume/bradyprigge.html" class="btn btn-large btn-primary" target="_blank">HTML</a>
        </li>
        <li>
            <a href="/Content/resume/bradyprigge.docx" class="btn btn-large btn-primary" target="_blank">Word Format</a>
        </li>
        <li>
            <a href="https://docs.google.com/document/d/12GsvnAuMmOcmqU66BkqqehAoXkJCwc6g9-3gHugTx3E/" class="btn btn-large btn-primary" target="_blank">Google Docs</a>
        </li>
    </ul>

</div>
