@model SyntonicStudios.SSWebsite.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Log In</h1>

@if (TempData["message"] != null) {
    <div class="alert">
      <strong>Notice: </strong>@TempData["message"]
    </div>
}

<div class="alert alert-info">
  You can log into the admin section with read-only access by logging in as "guest" with a password of "guest"
</div>

<p>Please log in to access the administrative area:</p>
@using(Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log in" /></p>
}
